{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}

{% block changePasswordForm %}
<a href="/account/change">Change password</a>
{% endblock %}
{% endblock %}
